---
import { type CollectionEntry, getCollection } from "astro:content";
import BlockQuote from "../../components/mdx/BlockQuote.astro";
import Anchor from "../../components/mdx/Anchor.astro";
import Layout from "../../layouts/Layout.astro";

export const prerender = true;

export async function getStaticPaths() {
  const tip = await getCollection("tips");
  return tip.map((tip) => ({
    params: { slug: tip.slug },
    props: tip,
  }));
}

type Props = CollectionEntry<"tip">;
const tip = Astro.props;
const { title, pubDate } = tip.data;

const inputDate = new Date(pubDate);
const month = (inputDate.getMonth() + 1).toString().padStart(2, "0"); // Add 1 to month because it's zero-based
const day = inputDate.getDate().toString().padStart(2, "0");
const year = inputDate.getFullYear();
const formattedDate = `${month}/${day}/${year}`;

const { Content } = await tip.render();
const components = { blockquote: BlockQuote, a: Anchor };
---

<Layout title="Connor Littleton">
  <main class="mx-auto w-full max-w-2xl px-4 py-14">
    <article class="flex flex-col">
      <div class="flex flex-col space-y-3">
        <h1 class="text-2xl font-bold md:text-3xl">
          {title}
        </h1>
        <dl>
          <dt class="sr-only">Date</dt><dd class="text-slate-800">
            <time class="italic" datetime={formattedDate}>{formattedDate}</time>
          </dd>
        </dl>
      </div>
      <div class="prose pt-6">
        <Content components={{ ...components }} />
      </div>
    </article>
  </main>
</Layout>
