---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("recipes");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"recipes">;
const post = Astro.props;
const { title, description, pubDate } = post.data;

const inputDate = new Date(pubDate);
const month = (inputDate.getMonth() + 1).toString().padStart(2, "0"); // Add 1 to month because it's zero-based
const day = inputDate.getDate().toString().padStart(2, "0");
const year = inputDate.getFullYear();
const formattedDate = `${month}/${day}/${year}`;

const { Content } = await post.render();
---

<Layout title="Connor Littleton | Recipe`s">
  <main class="mx-auto my-12 w-full max-w-xl">
    <article class="flex flex-col gap-5">
      <div class="flex flex-col space-y-4">
        <h1 class="text-3xl font-bold md:text-5xl">{title}</h1>
        <p class="text-base text-slate-600">{description}</p>
        <dl class="flex items-center gap-1 text-sm text-slate-600">
          <dt>
            <svg
              fill="none"
              viewBox="0 0 24 24"
              class="h-[1.25em] w-[1.25em]"
              astro-icon="clock"
              ><circle
                cx="12"
                cy="12"
                r="7.25"
                stroke="currentColor"
                stroke-width="1.5"></circle><path
                stroke="currentColor"
                stroke-width="1.5"
                d="M12 8v4l2 2"></path></svg
            >
          </dt>
          <dd>
            <time datetime={formattedDate}>{formattedDate}</time>
          </dd>
        </dl>
        <hr class="border border-t text-slate-600" />
      </div>
      <Content />
    </article>
  </main>
</Layout>
