---
import { getCollection } from "astro:content";
import classnames from "classnames";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("blog");
const tags = new Set(["All"].concat(posts.map((post) => post.data.tag)));
---

<Layout title="Connor Littleton | Blog Posts">
  <main class="mx-auto my-12 w-full max-w-2xl">
    <div class="space-y-4">
      <div class="space-y-1">
        <h1 class="text-3xl font-bold">Blog</h1>
        <ul class="flex list-none justify-start flex-wrap -m-1 [&>li]:m-1">
          {
            Array.from(tags).map((tag) => {
              return (
                <li class="font-semibold inline-flex text-center transition-colors cursor-pointer text-neutral-500 border rounded-lg hover:bg-neutral-100 hover:border-neutral-300">
                  <a
                    class={classnames("no-underline px-2 py-1 text-sm/tight", {
                      "text-blue-500 bg-neutral-100 border-neutral-300":
                        tag.toLowerCase() == "all",
                    })}
                    href={
                      tag == "All" ? "/blog" : `/blog/tag/${tag.toLowerCase()}`
                    }
                  >
                    {tag}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
      <ul class="space-y-6">
        {
          posts.map((post) => (
            <li>
              <article>
                <h2 class="text-xl font-bold">
                  <a
                    class="hover:underline decoration-blue-500 underline-offset-2"
                    href={`blog/${post.slug}`}
                  >
                    {post.data.title}
                  </a>
                </h2>
                <div>
                  <p class="slate-700 text-base font-normal">
                    {post.data.description}
                  </p>
                </div>
              </article>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
</Layout>
