---
import classnames from "classnames";
import Layout from "../layouts/Layout.astro";

const recentPosts = [
  {
    title: "Comprehensive Guide to Redis",
    description: "Explore the workings and usage of Redis.",
    link: "/blog/redis",
  },
  {
    title: "Monorepos",
    description: "All about the benefits monorepo's can bring to your company.",
    link: "/blog/monorepo",
  },
];

const projects = [
  {
    title: "cwl-monorepo",
    description: "A practical monorepo built with Turborepo.",
    link: "https://github.com/Littletonconnor/cwl-monorepo",
    status: "in-progress",
  },
  {
    title: "cwl-ui",
    description: "Accessible Component library for React.",
    link: "https://github.com/Littletonconnor/ui",
    status: "in-progress",
  },
  {
    title: "connorlittleton.api",
    description: "A custom JSONPlaceholder like API",
    link: "https://github.com/Littletonconnor/connorlittleton.api",
    status: "in-progress",
  },
  {
    title: "workout-tracker",
    description: "A custom workout tracker built with Remix.",
    link: "https://github.com/Littletonconnor/ui",
    status: "todo",
  },
];
---

<Layout title="Connor Littleton">
  <main class="w-full mx-auto max-w-2xl px-4 py-14">
    <div class="space-y-16">
      <div class="space-y-4">
        <h1 class="lg:text-center text-2xl font-bold md:text-3xl">
          Hello There. 👋
        </h1>
        <p class="text-lg">
          I'm <strong>Connor</strong> a Software engineer currently working on
          the Design System team
          <a
            class="font-semibold underline decoration-blue-500 hover:decoration-2 underline-offset-2"
            href="https://www.wealthfront.com">Wealthfront</a
          >. I am a big fan of continous learning and enjoy working on a wide
          range of Web related technologies. On this site you will find various
          blog posts and recipes that I have found useful in my day to day work.
          In addition to my passion for programming, I enjoy exploring new
          breweries and maintaining an active lifestyle through regular
          workouts.
        </p>
      </div>
      <section>
        <div class="space-y-2">
          <h2 class="text-xl font-bold md:text-2xl">Recent Posts</h2>
          <ol class="space-y-4">
            {
              recentPosts.map((post) => (
                <li>
                  <article class="group cursor-pointer">
                    <h2 class="text-lg font-medium group-hover:underline decoration-blue-500 underline-offset-2">
                      <a href={post.link}>{post.title}</a>
                    </h2>
                    <p class="text-slate-700 text-base">{post.description}</p>
                  </article>
                </li>
              ))
            }
          </ol>
        </div>
      </section>
      <section>
        <div class="space-y-2">
          <h2 class="text-xl font-bold md:text-2xl">Projects</h2>
          <ol class="space-y-4">
            {
              projects.map((project) => (
                <li>
                  <article class="border border-gray-200 rounded-lg p-4 group cursor-pointer">
                    <div class="w-full flex items-center justify-between">
                      <h2 class="text-lg font-medium hover:underline decoration-blue-500 underline-offset-2 group-hover:underline">
                        <a href={project.link}>{project.title}</a>
                      </h2>
                      <div
                        class={classnames(
                          "rounded-full px-2 py-1 w-fit text-white text-xs",
                          { "bg-orange-500": project.status === "in-progress" },
                          { "bg-green-500": project.status === "complete" },
                          { "bg-blue-500": project.status === "todo" },
                        )}
                      >
                        {project.status}
                      </div>
                    </div>
                    <p class="text-slate-700 text-base">
                      {project.description}
                    </p>
                  </article>
                </li>
              ))
            }
          </ol>
        </div>
      </section>
    </div>
  </main>
</Layout>
